@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url(./fonts/Gilroy-Bold.ttf) format('truetype');
    font-weight: bold;
  }
  @font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url(./fonts/Gilroy-Regular.ttf) format('truetype');
    font-weight: normal;
  }
h1{
    font-size: 50px;
    font-weight: bold;
}
     
h2{
    font-size: 30px;  
    font-weight: bold; 
  }
   
 .titleText{
    font-size: 100px;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    }
p{
    letter-spacing: 1px ;
    line-height: 20px;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gilroy";

}
body{
    background-color: #141414;
    color: #fafafa;
}
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    scroll-snap-align: center;
}


$breakpoint-tablet: 1366px;
@media (max-width: $breakpoint-tablet) {
    .wrapper
    {
        margin: 0 5% !important;
    }
  
}